<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--    xxxMapper.xml     -->
<mapper namespace="com.example.springboot_learning.mapper.UserMapper">

    <select id="selectAllUserList" resultType="com.example.springboot_learning.pojo.User">
        select * from myLearning.user
    </select>

    <select id="selectUserByUserId" resultType="user">
        select * from myLearning.user
        <where>
            user_id = #{userId}
        </where>
        limit 1
    </select>

</mapper>
